@import '@/styles/common/css-reset.css';

@import '@/styles/theme/border-radius.css';
@import '@/styles/theme/color.css';
@import '@/styles/theme/shadow.css';
@import '@/styles/theme/spacing.css';
@import '@/styles/theme/transition.css';
@import '@/styles/theme/typography.css';

@import '@/styles/common/base.css';
@import '@/styles/common/notifications.css';

@import 'floating-vue/dist/style.css';
