.notify-toast-container {
  position: fixed;
  right: var(--ja-spacing-2x-large);
  bottom: var(--ja-spacing-2x-large);
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: var(--ja-spacing-small);
}

.notify-toast {
  padding: var(--ja-spacing-small) var(--ja-spacing-x-large);
  border: 1px solid;
  border-radius: var(--ja-border-radius-large);
  background: var(--ja-color-neutral-950);
  box-shadow: 0 0 20px color-mix(in srgb, var(--ja-color-neutral-0) 10%, transparent);
  backdrop-filter: blur(10px);
  font-size: var(--ja-font-size-medium);
  font-weight: var(--ja-font-weight-light);

  &.success {
    border-color: color-mix(in srgb, var(--ja-color-green-300) 40%, transparent);
    color: var(--ja-color-green-100);
  }

  &.error {
    border-color: color-mix(in srgb, var(--ja-color-rose-300) 40%, transparent);
    color: var(--ja-color-rose-100);
  }
}
