:root {
  --ja-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --ja-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --ja-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --ja-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --ja-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);
}
